body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1798px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1948 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1949_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1978px;
  height:2px;
}
#u1949 {
  position:absolute;
  left:-96px;
  top:50px;
  width:1977px;
  height:1px;
}
#u1950 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1973px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1951_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:42px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#1E1E1E;
}
#u1951 {
  position:absolute;
  left:273px;
  top:9px;
  width:73px;
  height:42px;
  font-size:16px;
  color:#1E1E1E;
}
#u1952 {
  position:absolute;
  left:2px;
  top:12px;
  width:69px;
  word-wrap:break-word;
}
#u1953_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:42px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#1E1E1E;
}
#u1953 {
  position:absolute;
  left:365px;
  top:9px;
  width:73px;
  height:42px;
  font-size:16px;
  color:#1E1E1E;
}
#u1954 {
  position:absolute;
  left:2px;
  top:12px;
  width:69px;
  word-wrap:break-word;
}
#u1955_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:42px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FF6600;
}
#u1955 {
  position:absolute;
  left:454px;
  top:9px;
  width:73px;
  height:42px;
  font-size:16px;
  color:#FF6600;
}
#u1956 {
  position:absolute;
  left:2px;
  top:12px;
  width:69px;
  word-wrap:break-word;
}
#u1957_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:42px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#1E1E1E;
}
#u1957 {
  position:absolute;
  left:546px;
  top:9px;
  width:73px;
  height:42px;
  font-size:16px;
  color:#1E1E1E;
}
#u1958 {
  position:absolute;
  left:2px;
  top:12px;
  width:69px;
  word-wrap:break-word;
}
#u1959_div {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:42px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#1E1E1E;
}
#u1959 {
  position:absolute;
  left:635px;
  top:9px;
  width:106px;
  height:42px;
  font-size:16px;
  color:#1E1E1E;
}
#u1960 {
  position:absolute;
  left:2px;
  top:12px;
  width:102px;
  word-wrap:break-word;
}
#u1961_div {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:42px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#1E1E1E;
}
#u1961 {
  position:absolute;
  left:757px;
  top:9px;
  width:106px;
  height:42px;
  font-size:16px;
  color:#1E1E1E;
}
#u1962 {
  position:absolute;
  left:2px;
  top:12px;
  width:102px;
  word-wrap:break-word;
}
#u1963_div {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:42px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#1E1E1E;
}
#u1963 {
  position:absolute;
  left:881px;
  top:9px;
  width:106px;
  height:42px;
  font-size:16px;
  color:#1E1E1E;
}
#u1964 {
  position:absolute;
  left:2px;
  top:12px;
  width:102px;
  word-wrap:break-word;
}
#u1965_div {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:42px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#1E1E1E;
}
#u1965 {
  position:absolute;
  left:1005px;
  top:9px;
  width:106px;
  height:42px;
  font-size:16px;
  color:#1E1E1E;
}
#u1966 {
  position:absolute;
  left:2px;
  top:12px;
  width:102px;
  word-wrap:break-word;
}
#u1967_div {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.219607843137255);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FF6600;
}
#u1967 {
  position:absolute;
  left:146px;
  top:9px;
  width:106px;
  height:42px;
  font-size:16px;
  color:#FF6600;
}
#u1968 {
  position:absolute;
  left:2px;
  top:12px;
  width:102px;
  word-wrap:break-word;
}
#u1969_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF6600;
}
#u1969 {
  position:absolute;
  left:-1px;
  top:12px;
  width:91px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF6600;
}
#u1970 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u1971_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#E4E4E4;
}
#u1971 {
  position:absolute;
  left:0px;
  top:32px;
  width:113px;
  height:16px;
  color:#E4E4E4;
}
#u1972 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u1973_img {
  position:absolute;
  left:0px;
  top:0px;
  width:897px;
  height:37px;
}
#u1973 {
  position:absolute;
  left:-1px;
  top:61px;
  width:897px;
  height:37px;
}
#u1974 {
  position:absolute;
  left:2px;
  top:10px;
  width:893px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1975_img {
  position:absolute;
  left:0px;
  top:0px;
  width:423px;
  height:828px;
}
#u1975 {
  position:absolute;
  left:1471px;
  top:61px;
  width:423px;
  height:828px;
}
#u1976 {
  position:absolute;
  left:2px;
  top:406px;
  width:419px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1977_img {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:38px;
}
#u1977 {
  position:absolute;
  left:1722px;
  top:2px;
  width:172px;
  height:38px;
}
#u1978 {
  position:absolute;
  left:2px;
  top:11px;
  width:168px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1979_img {
  position:absolute;
  left:0px;
  top:0px;
  width:599px;
  height:37px;
}
#u1979 {
  position:absolute;
  left:297px;
  top:62px;
  width:599px;
  height:37px;
}
#u1980 {
  position:absolute;
  left:2px;
  top:10px;
  width:595px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1981_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1466px;
  height:824px;
}
#u1981 {
  position:absolute;
  left:0px;
  top:105px;
  width:1466px;
  height:824px;
}
#u1982 {
  position:absolute;
  left:2px;
  top:404px;
  width:1462px;
  visibility:hidden;
  word-wrap:break-word;
}
