body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1841px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6605 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6606_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1978px;
  height:2px;
}
#u6606 {
  position:absolute;
  left:-4px;
  top:50px;
  width:1977px;
  height:1px;
}
#u6607 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1973px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6608_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:42px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#1E1E1E;
}
#u6608 {
  position:absolute;
  left:365px;
  top:9px;
  width:73px;
  height:42px;
  font-size:16px;
  color:#1E1E1E;
}
#u6609 {
  position:absolute;
  left:2px;
  top:12px;
  width:69px;
  word-wrap:break-word;
}
#u6610_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:42px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#1E1E1E;
}
#u6610 {
  position:absolute;
  left:457px;
  top:9px;
  width:73px;
  height:42px;
  font-size:16px;
  color:#1E1E1E;
}
#u6611 {
  position:absolute;
  left:2px;
  top:12px;
  width:69px;
  word-wrap:break-word;
}
#u6612_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:42px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u6612 {
  position:absolute;
  left:546px;
  top:9px;
  width:73px;
  height:42px;
  font-size:16px;
}
#u6613 {
  position:absolute;
  left:2px;
  top:12px;
  width:69px;
  word-wrap:break-word;
}
#u6614_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:42px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#1E1E1E;
}
#u6614 {
  position:absolute;
  left:638px;
  top:9px;
  width:73px;
  height:42px;
  font-size:16px;
  color:#1E1E1E;
}
#u6615 {
  position:absolute;
  left:2px;
  top:12px;
  width:69px;
  word-wrap:break-word;
}
#u6616_div {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:42px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u6616 {
  position:absolute;
  left:727px;
  top:9px;
  width:106px;
  height:42px;
  font-size:16px;
}
#u6617 {
  position:absolute;
  left:2px;
  top:12px;
  width:102px;
  word-wrap:break-word;
}
#u6618_div {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:42px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u6618 {
  position:absolute;
  left:849px;
  top:9px;
  width:106px;
  height:42px;
  font-size:16px;
}
#u6619 {
  position:absolute;
  left:2px;
  top:12px;
  width:102px;
  word-wrap:break-word;
}
#u6620_div {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:42px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u6620 {
  position:absolute;
  left:973px;
  top:9px;
  width:106px;
  height:42px;
  font-size:16px;
}
#u6621 {
  position:absolute;
  left:2px;
  top:12px;
  width:102px;
  word-wrap:break-word;
}
#u6622_div {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:42px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#1E1E1E;
}
#u6622 {
  position:absolute;
  left:1097px;
  top:9px;
  width:106px;
  height:42px;
  font-size:16px;
  color:#1E1E1E;
}
#u6623 {
  position:absolute;
  left:2px;
  top:12px;
  width:102px;
  word-wrap:break-word;
}
#u6624_div {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.219607843137255);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u6624 {
  position:absolute;
  left:238px;
  top:9px;
  width:106px;
  height:42px;
  font-size:16px;
}
#u6625 {
  position:absolute;
  left:2px;
  top:12px;
  width:102px;
  word-wrap:break-word;
}
#u6626_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF6600;
}
#u6626 {
  position:absolute;
  left:91px;
  top:12px;
  width:91px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF6600;
}
#u6627 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u6628_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#E4E4E4;
}
#u6628 {
  position:absolute;
  left:92px;
  top:32px;
  width:113px;
  height:16px;
  color:#E4E4E4;
}
#u6629 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u6630_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1760px;
  height:74px;
}
#u6630 {
  position:absolute;
  left:-132px;
  top:50px;
  width:1760px;
  height:74px;
}
#u6631 {
  position:absolute;
  left:2px;
  top:29px;
  width:1756px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6632 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6633_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:24px;
}
#u6633 {
  position:absolute;
  left:1049px;
  top:76px;
  width:30px;
  height:24px;
}
#u6634 {
  position:absolute;
  left:2px;
  top:4px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6635_div {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u6635 {
  position:absolute;
  left:1087px;
  top:78px;
  width:19px;
  height:19px;
  font-size:16px;
}
#u6636 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  word-wrap:break-word;
}
#u6637 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6638_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:25px;
}
#u6638 {
  position:absolute;
  left:1116px;
  top:77px;
  width:30px;
  height:25px;
}
#u6639 {
  position:absolute;
  left:2px;
  top:4px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6640_div {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u6640 {
  position:absolute;
  left:1152px;
  top:78px;
  width:34px;
  height:19px;
  font-size:16px;
}
#u6641 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  word-wrap:break-word;
}
#u6642_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:40px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u6642 {
  position:absolute;
  left:1186px;
  top:70px;
  width:103px;
  height:40px;
  color:#FFFFFF;
}
#u6643 {
  position:absolute;
  left:2px;
  top:12px;
  width:99px;
  word-wrap:break-word;
}
#u6644_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u6644 {
  position:absolute;
  left:91px;
  top:75px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u6645 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u6646_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u6646 {
  position:absolute;
  left:183px;
  top:75px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u6647 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u6648_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u6648 {
  position:absolute;
  left:269px;
  top:75px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u6649 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u6650_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u6650 {
  position:absolute;
  left:363px;
  top:75px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u6651 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u6652_div {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FF6600;
}
#u6652 {
  position:absolute;
  left:91px;
  top:142px;
  width:106px;
  height:45px;
  font-size:14px;
  color:#FF6600;
}
#u6653 {
  position:absolute;
  left:2px;
  top:14px;
  width:102px;
  word-wrap:break-word;
}
#u6654_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1199px;
  height:2px;
}
#u6654 {
  position:absolute;
  left:91px;
  top:186px;
  width:1198px;
  height:1px;
}
#u6655 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1194px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6656_div {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:45px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u6656 {
  position:absolute;
  left:218px;
  top:142px;
  width:106px;
  height:45px;
  font-size:14px;
}
#u6657 {
  position:absolute;
  left:2px;
  top:14px;
  width:102px;
  word-wrap:break-word;
}
#u6658_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:107px;
  height:5px;
}
#u6658 {
  position:absolute;
  left:92px;
  top:141px;
  width:104px;
  height:2px;
}
#u6659 {
  position:absolute;
  left:2px;
  top:-7px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6660_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u6660 {
  position:absolute;
  left:467px;
  top:76px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u6661 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u6662_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1634px;
  height:1070px;
}
#u6662 {
  position:absolute;
  left:-4px;
  top:121px;
  width:1634px;
  height:1070px;
}
#u6663 {
  position:absolute;
  left:2px;
  top:527px;
  width:1630px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6664_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1042px;
  height:314px;
}
#u6664 {
  position:absolute;
  left:91px;
  top:143px;
  width:1042px;
  height:314px;
}
#u6665 {
  position:absolute;
  left:2px;
  top:149px;
  width:1038px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6666 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6667 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6668_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1042px;
  height:314px;
}
#u6668 {
  position:absolute;
  left:92px;
  top:493px;
  width:1042px;
  height:314px;
}
#u6669 {
  position:absolute;
  left:2px;
  top:149px;
  width:1038px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6670_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:44px;
}
#u6670 {
  position:absolute;
  left:623px;
  top:744px;
  width:210px;
  height:44px;
}
#u6671 {
  position:absolute;
  left:2px;
  top:14px;
  width:206px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6672_img {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:32px;
}
#u6672 {
  position:absolute;
  left:675px;
  top:750px;
  width:226px;
  height:32px;
}
#u6673 {
  position:absolute;
  left:2px;
  top:8px;
  width:222px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6674_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1190px;
  height:2px;
}
#u6674 {
  position:absolute;
  left:92px;
  top:473px;
  width:1189px;
  height:1px;
}
#u6675 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1185px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6676_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:44px;
}
#u6676 {
  position:absolute;
  left:623px;
  top:392px;
  width:210px;
  height:44px;
}
#u6677 {
  position:absolute;
  left:2px;
  top:14px;
  width:206px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6678_img {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:32px;
}
#u6678 {
  position:absolute;
  left:673px;
  top:392px;
  width:226px;
  height:32px;
}
#u6679 {
  position:absolute;
  left:2px;
  top:8px;
  width:222px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6680 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6681 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6682_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1042px;
  height:314px;
}
#u6682 {
  position:absolute;
  left:92px;
  top:859px;
  width:1042px;
  height:314px;
}
#u6683 {
  position:absolute;
  left:2px;
  top:149px;
  width:1038px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6684_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:44px;
}
#u6684 {
  position:absolute;
  left:623px;
  top:1110px;
  width:210px;
  height:44px;
}
#u6685 {
  position:absolute;
  left:2px;
  top:14px;
  width:206px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6686_img {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:32px;
}
#u6686 {
  position:absolute;
  left:675px;
  top:1116px;
  width:226px;
  height:32px;
}
#u6687 {
  position:absolute;
  left:2px;
  top:8px;
  width:222px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6688_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1190px;
  height:2px;
}
#u6688 {
  position:absolute;
  left:92px;
  top:839px;
  width:1189px;
  height:1px;
}
#u6689 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1185px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6690_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:162px;
}
#u6690 {
  position:absolute;
  left:937px;
  top:206px;
  width:400px;
  height:162px;
}
#u6691 {
  position:absolute;
  left:2px;
  top:73px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6692_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:24px;
}
#u6692 {
  position:absolute;
  left:956px;
  top:328px;
  width:80px;
  height:24px;
}
#u6693 {
  position:absolute;
  left:2px;
  top:4px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6694_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CC0000;
}
#u6694 {
  position:absolute;
  left:965px;
  top:332px;
  width:57px;
  height:16px;
  color:#CC0000;
}
#u6695 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u6696_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:19px;
}
#u6696 {
  position:absolute;
  left:1056px;
  top:328px;
  width:46px;
  height:19px;
}
#u6697 {
  position:absolute;
  left:2px;
  top:2px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6698_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#008000;
}
#u6698 {
  position:absolute;
  left:1051px;
  top:334px;
  width:29px;
  height:16px;
  color:#008000;
}
#u6699 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u6700_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:25px;
}
#u6700 {
  position:absolute;
  left:943px;
  top:560px;
  width:137px;
  height:25px;
}
#u6701 {
  position:absolute;
  left:2px;
  top:4px;
  width:133px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6702_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:16px;
}
#u6702 {
  position:absolute;
  left:937px;
  top:926px;
  width:78px;
  height:16px;
}
#u6703 {
  position:absolute;
  left:2px;
  top:0px;
  width:74px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6704_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6704 {
  position:absolute;
  left:948px;
  top:929px;
  width:57px;
  height:16px;
}
#u6705 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u6706 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6707_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:15px;
}
#u6707 {
  position:absolute;
  left:926px;
  top:156px;
  width:89px;
  height:15px;
}
#u6708 {
  position:absolute;
  left:2px;
  top:0px;
  width:85px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6709_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6709 {
  position:absolute;
  left:945px;
  top:156px;
  width:57px;
  height:16px;
}
#u6710 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u6711 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6712_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:15px;
}
#u6712 {
  position:absolute;
  left:928px;
  top:507px;
  width:89px;
  height:15px;
}
#u6713 {
  position:absolute;
  left:2px;
  top:0px;
  width:85px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6714_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6714 {
  position:absolute;
  left:947px;
  top:507px;
  width:57px;
  height:16px;
}
#u6715 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u6716 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6717_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:15px;
}
#u6717 {
  position:absolute;
  left:928px;
  top:873px;
  width:89px;
  height:15px;
}
#u6718 {
  position:absolute;
  left:2px;
  top:0px;
  width:85px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6719_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6719 {
  position:absolute;
  left:947px;
  top:873px;
  width:57px;
  height:16px;
}
#u6720 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
