body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1843px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7031 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7032_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1978px;
  height:2px;
}
#u7032 {
  position:absolute;
  left:-4px;
  top:50px;
  width:1977px;
  height:1px;
}
#u7033 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1973px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7034_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:42px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#1E1E1E;
}
#u7034 {
  position:absolute;
  left:365px;
  top:9px;
  width:73px;
  height:42px;
  font-size:16px;
  color:#1E1E1E;
}
#u7035 {
  position:absolute;
  left:2px;
  top:12px;
  width:69px;
  word-wrap:break-word;
}
#u7036_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:42px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#1E1E1E;
}
#u7036 {
  position:absolute;
  left:457px;
  top:9px;
  width:73px;
  height:42px;
  font-size:16px;
  color:#1E1E1E;
}
#u7037 {
  position:absolute;
  left:2px;
  top:12px;
  width:69px;
  word-wrap:break-word;
}
#u7038_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:42px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u7038 {
  position:absolute;
  left:546px;
  top:9px;
  width:73px;
  height:42px;
  font-size:16px;
}
#u7039 {
  position:absolute;
  left:2px;
  top:12px;
  width:69px;
  word-wrap:break-word;
}
#u7040_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:42px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#1E1E1E;
}
#u7040 {
  position:absolute;
  left:638px;
  top:9px;
  width:73px;
  height:42px;
  font-size:16px;
  color:#1E1E1E;
}
#u7041 {
  position:absolute;
  left:2px;
  top:12px;
  width:69px;
  word-wrap:break-word;
}
#u7042_div {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:42px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u7042 {
  position:absolute;
  left:727px;
  top:9px;
  width:106px;
  height:42px;
  font-size:16px;
}
#u7043 {
  position:absolute;
  left:2px;
  top:12px;
  width:102px;
  word-wrap:break-word;
}
#u7044_div {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:42px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u7044 {
  position:absolute;
  left:849px;
  top:9px;
  width:106px;
  height:42px;
  font-size:16px;
}
#u7045 {
  position:absolute;
  left:2px;
  top:12px;
  width:102px;
  word-wrap:break-word;
}
#u7046_div {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:42px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u7046 {
  position:absolute;
  left:973px;
  top:9px;
  width:106px;
  height:42px;
  font-size:16px;
}
#u7047 {
  position:absolute;
  left:2px;
  top:12px;
  width:102px;
  word-wrap:break-word;
}
#u7048_div {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:42px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#1E1E1E;
}
#u7048 {
  position:absolute;
  left:1097px;
  top:9px;
  width:106px;
  height:42px;
  font-size:16px;
  color:#1E1E1E;
}
#u7049 {
  position:absolute;
  left:2px;
  top:12px;
  width:102px;
  word-wrap:break-word;
}
#u7050_div {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.219607843137255);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u7050 {
  position:absolute;
  left:238px;
  top:9px;
  width:106px;
  height:42px;
  font-size:16px;
}
#u7051 {
  position:absolute;
  left:2px;
  top:12px;
  width:102px;
  word-wrap:break-word;
}
#u7052_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF6600;
}
#u7052 {
  position:absolute;
  left:91px;
  top:12px;
  width:91px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF6600;
}
#u7053 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u7054_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#E4E4E4;
}
#u7054 {
  position:absolute;
  left:92px;
  top:32px;
  width:113px;
  height:16px;
  color:#E4E4E4;
}
#u7055 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u7056_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1760px;
  height:74px;
}
#u7056 {
  position:absolute;
  left:-130px;
  top:50px;
  width:1760px;
  height:74px;
}
#u7057 {
  position:absolute;
  left:2px;
  top:29px;
  width:1756px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7058 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7059_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:24px;
}
#u7059 {
  position:absolute;
  left:1050px;
  top:76px;
  width:30px;
  height:24px;
}
#u7060 {
  position:absolute;
  left:2px;
  top:4px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7061_div {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u7061 {
  position:absolute;
  left:1088px;
  top:78px;
  width:19px;
  height:19px;
  font-size:16px;
}
#u7062 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  word-wrap:break-word;
}
#u7063 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7064_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:25px;
}
#u7064 {
  position:absolute;
  left:1117px;
  top:77px;
  width:30px;
  height:25px;
}
#u7065 {
  position:absolute;
  left:2px;
  top:4px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7066_div {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u7066 {
  position:absolute;
  left:1153px;
  top:78px;
  width:34px;
  height:19px;
  font-size:16px;
}
#u7067 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  word-wrap:break-word;
}
#u7068_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:40px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u7068 {
  position:absolute;
  left:1187px;
  top:70px;
  width:103px;
  height:40px;
  color:#FFFFFF;
}
#u7069 {
  position:absolute;
  left:2px;
  top:12px;
  width:99px;
  word-wrap:break-word;
}
#u7070_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u7070 {
  position:absolute;
  left:92px;
  top:75px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u7071 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u7072_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7072 {
  position:absolute;
  left:184px;
  top:75px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7073 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u7074_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7074 {
  position:absolute;
  left:270px;
  top:75px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7075 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u7076_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7076 {
  position:absolute;
  left:364px;
  top:75px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7077 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u7078_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7078 {
  position:absolute;
  left:467px;
  top:76px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7079 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u7080_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1634px;
  height:1070px;
}
#u7080 {
  position:absolute;
  left:-4px;
  top:121px;
  width:1634px;
  height:1070px;
}
#u7081 {
  position:absolute;
  left:2px;
  top:527px;
  width:1630px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7082_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1042px;
  height:314px;
}
#u7082 {
  position:absolute;
  left:91px;
  top:143px;
  width:1042px;
  height:314px;
}
#u7083 {
  position:absolute;
  left:2px;
  top:149px;
  width:1038px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7084 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7085 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7086_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1042px;
  height:314px;
}
#u7086 {
  position:absolute;
  left:92px;
  top:493px;
  width:1042px;
  height:314px;
}
#u7087 {
  position:absolute;
  left:2px;
  top:149px;
  width:1038px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7088_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:44px;
}
#u7088 {
  position:absolute;
  left:623px;
  top:744px;
  width:210px;
  height:44px;
}
#u7089 {
  position:absolute;
  left:2px;
  top:14px;
  width:206px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7090_img {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:32px;
}
#u7090 {
  position:absolute;
  left:675px;
  top:750px;
  width:226px;
  height:32px;
}
#u7091 {
  position:absolute;
  left:2px;
  top:8px;
  width:222px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7092_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1190px;
  height:2px;
}
#u7092 {
  position:absolute;
  left:92px;
  top:473px;
  width:1189px;
  height:1px;
}
#u7093 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1185px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7094_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:44px;
}
#u7094 {
  position:absolute;
  left:623px;
  top:392px;
  width:210px;
  height:44px;
}
#u7095 {
  position:absolute;
  left:2px;
  top:14px;
  width:206px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7096_img {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:32px;
}
#u7096 {
  position:absolute;
  left:673px;
  top:392px;
  width:226px;
  height:32px;
}
#u7097 {
  position:absolute;
  left:2px;
  top:8px;
  width:222px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7098 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7099 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1042px;
  height:314px;
}
#u7100 {
  position:absolute;
  left:92px;
  top:859px;
  width:1042px;
  height:314px;
}
#u7101 {
  position:absolute;
  left:2px;
  top:149px;
  width:1038px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:44px;
}
#u7102 {
  position:absolute;
  left:623px;
  top:1110px;
  width:210px;
  height:44px;
}
#u7103 {
  position:absolute;
  left:2px;
  top:14px;
  width:206px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:32px;
}
#u7104 {
  position:absolute;
  left:675px;
  top:1116px;
  width:226px;
  height:32px;
}
#u7105 {
  position:absolute;
  left:2px;
  top:8px;
  width:222px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1190px;
  height:2px;
}
#u7106 {
  position:absolute;
  left:92px;
  top:839px;
  width:1189px;
  height:1px;
}
#u7107 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1185px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:162px;
}
#u7108 {
  position:absolute;
  left:937px;
  top:206px;
  width:400px;
  height:162px;
}
#u7109 {
  position:absolute;
  left:2px;
  top:73px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:24px;
}
#u7110 {
  position:absolute;
  left:956px;
  top:328px;
  width:80px;
  height:24px;
}
#u7111 {
  position:absolute;
  left:2px;
  top:4px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7112_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CC0000;
}
#u7112 {
  position:absolute;
  left:965px;
  top:332px;
  width:57px;
  height:16px;
  color:#CC0000;
}
#u7113 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u7114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:19px;
}
#u7114 {
  position:absolute;
  left:1056px;
  top:328px;
  width:46px;
  height:19px;
}
#u7115 {
  position:absolute;
  left:2px;
  top:2px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7116_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#008000;
}
#u7116 {
  position:absolute;
  left:1051px;
  top:334px;
  width:29px;
  height:16px;
  color:#008000;
}
#u7117 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u7118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:25px;
}
#u7118 {
  position:absolute;
  left:943px;
  top:560px;
  width:137px;
  height:25px;
}
#u7119 {
  position:absolute;
  left:2px;
  top:4px;
  width:133px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:16px;
}
#u7120 {
  position:absolute;
  left:937px;
  top:926px;
  width:78px;
  height:16px;
}
#u7121 {
  position:absolute;
  left:2px;
  top:0px;
  width:74px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7122_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7122 {
  position:absolute;
  left:948px;
  top:929px;
  width:57px;
  height:16px;
}
#u7123 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u7124 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:15px;
}
#u7125 {
  position:absolute;
  left:926px;
  top:156px;
  width:89px;
  height:15px;
}
#u7126 {
  position:absolute;
  left:2px;
  top:0px;
  width:85px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7127_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7127 {
  position:absolute;
  left:945px;
  top:156px;
  width:57px;
  height:16px;
}
#u7128 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u7129 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:15px;
}
#u7130 {
  position:absolute;
  left:928px;
  top:507px;
  width:89px;
  height:15px;
}
#u7131 {
  position:absolute;
  left:2px;
  top:0px;
  width:85px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7132_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7132 {
  position:absolute;
  left:947px;
  top:507px;
  width:57px;
  height:16px;
}
#u7133 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u7134 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:15px;
}
#u7135 {
  position:absolute;
  left:928px;
  top:873px;
  width:89px;
  height:15px;
}
#u7136 {
  position:absolute;
  left:2px;
  top:0px;
  width:85px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7137_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7137 {
  position:absolute;
  left:947px;
  top:873px;
  width:57px;
  height:16px;
}
#u7138 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
