body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1798px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1981 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1982_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1978px;
  height:2px;
}
#u1982 {
  position:absolute;
  left:-96px;
  top:50px;
  width:1977px;
  height:1px;
}
#u1983 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1973px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1984_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:42px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#1E1E1E;
}
#u1984 {
  position:absolute;
  left:273px;
  top:9px;
  width:73px;
  height:42px;
  font-size:16px;
  color:#1E1E1E;
}
#u1985 {
  position:absolute;
  left:2px;
  top:12px;
  width:69px;
  word-wrap:break-word;
}
#u1986_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:42px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#1E1E1E;
}
#u1986 {
  position:absolute;
  left:365px;
  top:9px;
  width:73px;
  height:42px;
  font-size:16px;
  color:#1E1E1E;
}
#u1987 {
  position:absolute;
  left:2px;
  top:12px;
  width:69px;
  word-wrap:break-word;
}
#u1988_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:42px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FF6600;
}
#u1988 {
  position:absolute;
  left:454px;
  top:9px;
  width:73px;
  height:42px;
  font-size:16px;
  color:#FF6600;
}
#u1989 {
  position:absolute;
  left:2px;
  top:12px;
  width:69px;
  word-wrap:break-word;
}
#u1990_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:42px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#1E1E1E;
}
#u1990 {
  position:absolute;
  left:546px;
  top:9px;
  width:73px;
  height:42px;
  font-size:16px;
  color:#1E1E1E;
}
#u1991 {
  position:absolute;
  left:2px;
  top:12px;
  width:69px;
  word-wrap:break-word;
}
#u1992_div {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:42px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#1E1E1E;
}
#u1992 {
  position:absolute;
  left:635px;
  top:9px;
  width:106px;
  height:42px;
  font-size:16px;
  color:#1E1E1E;
}
#u1993 {
  position:absolute;
  left:2px;
  top:12px;
  width:102px;
  word-wrap:break-word;
}
#u1994_div {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:42px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#1E1E1E;
}
#u1994 {
  position:absolute;
  left:757px;
  top:9px;
  width:106px;
  height:42px;
  font-size:16px;
  color:#1E1E1E;
}
#u1995 {
  position:absolute;
  left:2px;
  top:12px;
  width:102px;
  word-wrap:break-word;
}
#u1996_div {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:42px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#1E1E1E;
}
#u1996 {
  position:absolute;
  left:881px;
  top:9px;
  width:106px;
  height:42px;
  font-size:16px;
  color:#1E1E1E;
}
#u1997 {
  position:absolute;
  left:2px;
  top:12px;
  width:102px;
  word-wrap:break-word;
}
#u1998_div {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:42px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#1E1E1E;
}
#u1998 {
  position:absolute;
  left:1005px;
  top:9px;
  width:106px;
  height:42px;
  font-size:16px;
  color:#1E1E1E;
}
#u1999 {
  position:absolute;
  left:2px;
  top:12px;
  width:102px;
  word-wrap:break-word;
}
#u2000_div {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.219607843137255);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FF6600;
}
#u2000 {
  position:absolute;
  left:146px;
  top:9px;
  width:106px;
  height:42px;
  font-size:16px;
  color:#FF6600;
}
#u2001 {
  position:absolute;
  left:2px;
  top:12px;
  width:102px;
  word-wrap:break-word;
}
#u2002_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF6600;
}
#u2002 {
  position:absolute;
  left:-1px;
  top:12px;
  width:91px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF6600;
}
#u2003 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u2004_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#E4E4E4;
}
#u2004 {
  position:absolute;
  left:0px;
  top:32px;
  width:113px;
  height:16px;
  color:#E4E4E4;
}
#u2005 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u2006_img {
  position:absolute;
  left:0px;
  top:0px;
  width:897px;
  height:37px;
}
#u2006 {
  position:absolute;
  left:-1px;
  top:61px;
  width:897px;
  height:37px;
}
#u2007 {
  position:absolute;
  left:2px;
  top:10px;
  width:893px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2008_img {
  position:absolute;
  left:0px;
  top:0px;
  width:423px;
  height:828px;
}
#u2008 {
  position:absolute;
  left:1471px;
  top:61px;
  width:423px;
  height:828px;
}
#u2009 {
  position:absolute;
  left:2px;
  top:406px;
  width:419px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2010_img {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:38px;
}
#u2010 {
  position:absolute;
  left:1722px;
  top:2px;
  width:172px;
  height:38px;
}
#u2011 {
  position:absolute;
  left:2px;
  top:11px;
  width:168px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2012_img {
  position:absolute;
  left:0px;
  top:0px;
  width:599px;
  height:37px;
}
#u2012 {
  position:absolute;
  left:297px;
  top:62px;
  width:599px;
  height:37px;
}
#u2013 {
  position:absolute;
  left:2px;
  top:10px;
  width:595px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2014_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1466px;
  height:844px;
}
#u2014 {
  position:absolute;
  left:0px;
  top:103px;
  width:1466px;
  height:844px;
}
#u2015 {
  position:absolute;
  left:2px;
  top:414px;
  width:1462px;
  visibility:hidden;
  word-wrap:break-word;
}
